<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39888140313-gk4gqdaj7ttfk4clc6outur6s1jfacci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39888140313-gk4gqdaj7ttfk4clc6outur6s1jfacci</string>
	<key>API_KEY</key>
	<string>AIzaSyDtLd2XbIQzsVD5SwuJ8IhmpCDqAGLXO6w</string>
	<key>GCM_SENDER_ID</key>
	<string>39888140313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpauul.restaurants</string>
	<key>PROJECT_ID</key>
	<string>react-native-restaurant-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-restaurant-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39888140313:ios:f8c29ef6b697ba6e371288</string>
</dict>
</plist>